.card {
  padding: 5px;
  height: 100px;
  line-height: 0px;
}

.clear {
  display: block;
  overflow: hidden;
}

.y-center {
  display: flex;
  align-items: center;
}

.gutter-row {
  line-height: normal;
}
.gutter-row .ant-btn-primary{
  width: 65px;
  padding-bottom: 20px;
}


.gutter-box {
  padding: 5px 0;
}

.text-muted{
  opacity: .6;
  font-size: 17px;
}

.text_danger {
    color: red;
}

.text_default {
    color: #7B7B84;
}
.text_info {
    color: #0000FF;
}
.text_warn {
    color: #FF8000;
}

.cloud-box {
  padding: 5px 0;
}

.card-tool {
  position: absolute;
  right: 24px;
  top: 24px;
}

.pb-m { padding-bottom: 1rem * 1; }

.ant-carousel .slick-slide {
  height: 30px;
  line-height: 30px;
  background: #ffffff;
  border-radius: 2px;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.firstDiv {
  float: left;
}
.twoDiv {
  float: right;
  text-align: right;
  button {
    width: auto !important;
  }
  button:nth-child(3) {
    margin-top: 5px !important;
  }
}


.cardP {
  fontSize: 18px;
}

.freezeP {
  margin-top: 10px;
}

.btnCard {
  height: 20px;
  margin-bottom: 5px;
  margin-right: 2px;
}


.kycWarnDiv {
  padding: 5px ;
  border-radius: 2px;
}
.kycWarnDiv > span {
  color: red;
  letter-spacing: 2px;
  margin:0 10px;
  text-decoration: underline;
}











